{% extends "js-es6.njk" %}

{% block globalimports %}
import {
  WidgetModel, DOMWidgetModel,
  WidgetView, DOMWidgetView,
  unpack_models, ManagerBase
} from '@jupyter-widgets/base';

import {
  data_union_serialization, array_serialization,
  ISerializers
} from 'jupyter-dataserializers';
{% endblock %}


{% block widgetbody %}
  defaults() {
    return {...super.defaults(), ... {
      {% if widget.properties %}
      {% for propName, prop in widget.properties %}
      {{ propName }}: {{ prop.default }},
      {% endfor %}
      {% endif %}
    }};
  }

  static serializers: ISerializers = {
    ...{{ widget.inherits[0] }}Model.serializers,
    {% for key, serializer in widget.serializers %}
    {{ key }}: {{ serializer }},
    {% endfor %}
  }
{% endblock %}
